@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    left: 15%
    width: 22%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 55%
    left: 10%
    width: 15%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 15%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 550px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.png") !important
  background-color: #5bdcfe !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.text-end 
    text-align: left !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario


/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  


//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

/// acordion
.acordion__contenido
  margin-left: 3.5rem 
  @media screen and (max-width: $bp-min-md)
    margin-left: 0rem

.acordion__accion__btn--a
  background-color: $color-acento-botones !important

.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center

// TabsA
.tabs-a
  .col-sm-6
    flex: 0 0 100% !important
    max-width: 100% !important

.tabs-a.color-acento-botones.mb-3.uno
  .row
    align-items: stretch !important
    justify-content: center !important
    .col-lg-4.col-xl-3
      flex: 0 0 50% !important
      max-width: 50% !important
      display: flex
      flex-direction: column

      @media (min-width: 1200px)
        flex: 0 0 36% !important
        max-width: 36% !important

      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important
    .col-lg-8.col-xl-9
      flex: 0 0 50% !important
      max-width: 50% !important
      display: flex !important

      @media (min-width: 1200px)
        flex: 0 0 64% !important
        max-width: 64% !important

      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important

.tabs-a.color-acento-contenido-10.mb-3.dos
  .row
    align-items: stretch !important
    justify-content: center !important
    .col-lg-4.col-xl-3
      flex: 0 0 50% !important
      max-width: 50% !important
      display: flex
      flex-direction: column

      @media (min-width: 1200px)
        flex: 0 0 45% !important
        max-width: 45% !important

      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important
    .col-lg-8.col-xl-9
      flex: 0 0 50% !important
      max-width: 50% !important
      display: flex !important

      @media (min-width: 1200px)
        flex: 0 0 55% !important
        max-width: 55% !important

      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important

.tabs-a.tarjeta-tabs-a.color-acento-botones.mb-3.uno .col-sm-6.col-lg-12.mb-3
  .tabs-a__tab
    padding: 18px 22px !important
    font-size: 0.95rem !important
    flex-grow: 1
.tabs-a.tarjeta-tabs-a.color-acento-botones.mb-3.dos .col-sm-6.col-lg-12.mb-3
  .tabs-a__tab
    padding: 18px 22px !important
    font-size: 0.95rem !important
    flex-grow: 1

.tabs-a .tarjeta-tabs-a__tarjeta
  flex-grow: 1 !important
  width: 100%
  display: flex !important
  align-items: center !important
  flex-direction: column !important
  justify-content: center !important

.tabs-a
  .tarjeta
    display: flex  !important
    flex-direction: column  !important
    justify-content: center  !important
